<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <title>coupan</title>
<head>
<%- include('../admin/partials/header.ejs') %>  
<%- include('../admin/partials/sidebar.ejs') %>  


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>



 <div class="row g-4">
                    

                   
                    
                <div class="col-12" style="margin-left: 100px;">
                    <a href="/admin/addcoupan"><button type="button" class="btn btn-success m-2">Add Coupon</button></a>
                    <div class="bg-light rounded h-100 p-4" >
                        <h6 class="mb-4">Coupons</h6>
                        <div class="table-responsive">

                            <%
                                 if(data.length > 0){
                            %>
                               
                            <table class="table">
                                <thead> 
                                   <tr>
                                       <th scope="col" class="text-center">#</th>
                                       <th scope="col" class="text-center">Coupon Name</th>
                                        <th scope="col" class="text-center">Amount</th>
                                        <th scope="col" class="text-center">MinCart Amount</th>
                                        <th scope="col" class="text-center">Expiry Date</th>
                                        <th scope="col" class="text-center">Status</th>
                                        <th scope="col" class="text-center">Delete</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <%data.forEach(function(coupon,index){%>
                                    <tr>
                                        <td class="text-center"><%= index+1%></td>
                                        <td class="text-center"><%=coupon.couponcode%></td>
                                        <td  class="text-center"> <%=coupon.couponamount%></td>
                                        <td class="text-center"><%=coupon.mincartamount%></td>
                                        <td class="text-center"><%=coupon.expiredate.toISOString().substring(0,10)%></td>
                                        <!-- <td class="text-center"><%=coupon.limit%></td> -->
                                        <td class="text-center"><%=coupon.status%></td>
<td class="text-center">
    <a href="/admin/deletecoupan?code=<%=coupon.couponcode%>"
       onclick="return confirm('Are you sure you want to delete this coupon?')"
       class="fa fa-trash" style="font-size: 20px; color: rgb(235, 14, 14); text-decoration: none;"></a>
</td>
                                       
                                    </tr>
                                    
                                    <%
                                     })%>
                                </tbody>
                            </table>
                            
                            <%
                            }else{
                            %>
                                <div><H3>Coupon Empty</H3></div>
                            <%
                            }
                            %>
                        </div>
                    </div>
                </div>
               
                
            </div>




            <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/adminside/lib/chart/chart.min.js"></script>
    <script src="/adminside/lib/easing/easing.min.js"></script>
    <script src="/adminside/lib/waypoints/waypoints.min.js"></script>
    <script src="/adminside/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/adminside/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/adminside/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/adminside/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>









<%- include('../admin/partials/footer.ejs') %>  
</body>
</html>