<%- include('../admin/partials/header.ejs') %>  


<div class="screen-overlay"></div>
<%- include('../admin/partials/sidebar.ejs') %>
<main class="main-wrap">
<section class="content-main">
  <div class="content-header">
      <h2 class="content-title">Users list</h2>
      <!-- <div>
          <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
      </div> -->
  </div>
  <div class="card mb-4">
      <header class="card-header">
          <div class="row gx-3">
              <!-- <div class="col-lg-4 col-md-6 me-auto">
                  <input type="text" placeholder="Search..." class="form-control" />
              </div> -->
              <!-- <div class="col-lg-2 col-md-3 col-6">
                  <select class="form-select">
                      <option>Status</option>
                      <option>Active</option>
                      <option>Disabled</option>
                      <option>Show all</option>
                  </select>
              </div>
              <div class="col-lg-2 col-md-3 col-6">
                  <select class="form-select">
                      <option>Show 20</option>
                      <option>Show 30</option>
                      <option>Show 40</option>
                  </select>
              </div> -->
          </div>
      </header>
      <!-- card-header end// -->
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>name</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th class="text-end">Action</th>
                      </tr>
                      <!-- user table -->
                  </thead>
                  <tbody>
                    <% if(users.length === 0) { %>
                      <tr>
                        <td colspan ='5'> No Users....
                        </td>
                      </tr>
                   <% } else { %>

                   <% for(let i=0 ; i < users.length ; i++) { %>
                      <tr>
                          <td width="40%">
                              <a href="#" class="itemside">
                                  <div class="left">
                                      <img src="assets/imgs/people/avatar-1.png" class="img-sm img-avatar" alt="Userpic" />
                                  </div>
                                  <div class="info pl-3">
                                      <h6 class="mb-0 title"><%= users[i].name %></h6>
                                      <small class="text-muted">users</small>
                                  </div>
                              </a>
                          </td>
                          <td><%= users[i].email %></td>
               <% if (users[i].block) { %>
                <td><span class="badge rounded-pill alert-danger">Deactive</span></td>

          <% } else { %>
            <td><span class="badge rounded-pill alert-success">Active</span></td>
            <% } %>                    


        <td class="text-end">
            <% console.log(users[i].block) %>
          <% if (users[i].block) { %>
              <!-- <form method="get" action=""> -->
                <a href="/admin/blockuser?id=<%= users[i]._id %>"><button  class="btn btn-danger blocked">unblock</button></a>
        
          <% } else { %>
        
                <a href="/admin/unblockuser?id=<%= users[i]._id %>"><button  class="btn btn-primary unblocked">block</button></a>
          <% } %>                    
        </td>
        
                      </tr>
                      <% } %>
                      <%  } %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  
  
  <!-- card end// -->
  <div class="pagination-area mt-15 mb-50">
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
              <li class="page-item active"><a class="page-link" href="#">01</a></li>
              <li class="page-item"><a class="page-link" href="#">02</a></li>
              <li class="page-item"><a class="page-link" href="#">03</a></li>
              <li class="page-item"><a class="page-link dot" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">16</a></li>
              <li class="page-item">
                  <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
              </li>
          </ul>
      </nav>
  </div>
</section>
</main>
