<!DOCTYPE html>
<html lang="en">

<head>
	<title>cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	
	<!-- login -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<!-- signup -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- phone -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- verifyotp -->


	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="user/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/css/util.css">
	<link rel="stylesheet" type="text/css" href="user/css/main.css">
	<!--===============================================================================================-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<style>
	table.table-bordered {
		border: 2px solid #191b1c;
	}

	table.table-bordered th,
	table.table-bordered td {
		border: 3px solid #585454;
		vertical-align: middle;
	}

	.cart-content {
		margin-bottom: 2px;
	}

	table thead {
		background-color: #f8f9fa;
	}
</style>


<body>


	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop fix-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						exclusive deals
					</div>

					<div class="right-top-bar flex-w h-full">

					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop" style="top: 40px;">
				<nav class="limiter-menu-desktop container">


					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="user/images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/home">Home</a>
							</li>

							<li>
								<a href="/shop">Shop</a>
							</li>

							<li>
								<a href="/cart">Cart</a>
							</li>

							<li>
								<a href="/order">Order</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
							<% if (name) { %>
								<li>
									<a href="/userprofile">
										<i class="fas fa-user" title="User profile"></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= name
											%>
									</a>
								</li>
								<% } else{ %>
									<li>
										<a href="/userprofile">
											<i class="fas fa-user" title="User profile"></i>
										</a>
									</li>

									<% } %>



						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<% if ( isloggedin) { %>
							<li>
								<a href="/logout" style="color: #ff0000;">Logout</a>
							</li>
							<% } else { %>
								<li>
									<b>
										<a href="/login">
											<h5 style="color:rgb(99, 101, 110);"><B>Login</B></h5>
										</a>
									</b>
								</li>
								<% } %>
					</div>


					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">


					</div>


					<style>
						.icon-header-item:hover {
							text-decoration: none;

							cursor: default;

						}
					</style>

					<a href="/cart">
						<div class="icon-header-item cl2 p-r-11 p-l-10">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>
					</a>

					<a href="/wishlist" class="dis-block icon-header-item cl2 p-l-22 p-r-11">
						<i class="zmdi zmdi-favorite-outline"></i>
					</a>

			</div>
			</nav>
		</div>
		</div>



		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div>
				<a href="#" class="logo">
					<img src="user/images/icons/logo-01.png" alt="IMG-LOGO">
				</a>

			</div>



			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<a href="/cart">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-10 p-l-22  ">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				</a>
				<a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-10 ">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>

				<% if ( isloggedin) { %>
					<div style="margin: 0 20px;">

						<li>
							<a href="/logout" style="color: #ff0000;">Logout</a>
						</li>
					</div>
					<% } else { %>

						<li>
							<div style="margin: 0 20px;">
								<a href="/login">
									<h5 style="color:rgb(99, 101, 110);"><B>Login</B></h5>
								</a>
							</div>
						</li>
						<% } %>


			</div>




			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>




		<!-- Menu Mobile -->
		<div class="menu-mobile">


			<ul class="main-menu-m">
				<li>
					<a href="home">Home</a>
				</li>

				<li>
					<a href="/shop">Shop</a>
				</li>

				<li>
					<a href="/cart">Cart</a>
				</li>

				<li>
					<a href="/order">Order</a>
				</li>

				<li>
					<a href="/about">About</a>
				</li>

				<li>
					<a href="/contact">Contact</a>
				</li>


				<% if (name) { %>
					<li>
						<a href="/userprofile">
							<i class="fas fa-user" title="User profile"></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= name %>
						</a>
					</li>
					<% } else{ %>
						<li>
							<a href="/userprofile">
								<i class="fas fa-user" title="User profile"></i>
							</a>
						</li>

						<% } %>


			</ul>
		</div>

	</header>
	<br>
	<br>


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<% if(count>0){ %>
		<!-- Shoping Cart -->
		<form class="bg0 p-t-75 p-b-85">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="wrap-table-shopping-cart table-responsive">
							<table class="table table-bordered" id="categorytable">
								<thead>

									<tr class="table_head text-center">

										<th>Product</th>
										<th>Name</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Change quantity</th>
										<th>TotalAmount</th>
										<th style="color: red;">Delete</th>
									</tr>
								</thead>
								<tbody class="text-center align-middle">

									<% for(let i=0 ; i<usercart.products.length ; i++) { %>
										<tr>
											<td>
												<%= [i+1] %>
											</td>
											<td>
												<div
													class="d-flex align-items-center justify-content-center flex-column">
													<img src="/productimages/<%= products[i].image[0] %>" alt="IMG" style="width: 80px; height: 80px; object-fit: cover;">
													<%= usercart.products[i].productname %>
												</div>
											</td>
											<td>
												<%= usercart.products[i].price %>
											</td>
											<td>
												<%= usercart.products[i].quantity %>

											</td>
											<td>
												<div class="d-flex align-items-center justify-content-center">
													<button id="minusButton" type="button"
														class="btn btn-sm btn-outline-secondary mx-1" onclick="changeQuantity(
																'<%=usercart._id%>',
																'<%=products[i]._id%>' ,
																-1,
																 '<%=usercart.products[i]._id %>',
																 '<%= products[i].price %>'  )">-</button>
													<span id="<%= products[i]._id %>"
														style="min-width: 40px; display: inline-block;">
														<%= usercart.products[i].quantity %>
													</span>


													<button type="button" class="btn btn-sm btn-outline-secondary mx-1"
														onclick="changeQuantity  ( 
																'<%= usercart._id%>' ,
																 '<%=products[i]._id%>' ,
																 1,
																 '<%=usercart.products[i]._id %>',
																  '<%= products[i].price %>' 
																)">+</button>
												</div>
											</td>
											<td id="<%= usercart.products[i]._id%>">
												<%=products[i].price* usercart.products[i].quantity %>
											</td>
											<td>
												<a href="/removecart?id=<%= products[i]._id %>" class="btn btn-sm"
													style="background-color: #ff0000;color: white;">
													🗑 Remove
												</a>
											</td>
										


										</tr>
										<% } %>
								</tbody>
							</table>
						</div>


						<div class="cart-content shadow-lg p-4 my-4">

							<div class="p-3">
								<h4 class="mb-3">
									Cart Totals
								</h4>

								<div class="d-flex justify-content-between border-bottom py-2">
									<span>
										Subtotal:
									</span>
									<span id="userCartTotal">₹<%= totalAmount %></span>
								</div>


								<div class="d-flex justify-content-between border-bottom py-2">
									<span>
										Shipping:
									</span>
									<span>Free</span>
								</div>


								<div class="d-flex justify-content-between py-2">
									<strong>Total:</strong>
									<strong id="userCartTotal2">Rs <%= totalAmount %></strong>

								</div>
								<a href="/checkout" class="btn btn-dark btn-block mt-3 ">
									Proceed to Checkout
								</a>

							</div>

						</div>
					</div>
				</div>
			</div>
		</form>
		<% }else{ %>
			<br>
			<br>
			<br>
			<br>

			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="card text-center">
							<div class="card-body">
								<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
									class="img-fluid mb-4">
								<h3 style="color: red;">Missing cart items?</h3>
								<% if(message) { %>
									<h3 style="color: red;">
										<%= message %>
									</h3>
									<% } %>
										<a href="/shop" class="btn btn-dark m-3">Continue Shopping</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% } %>


				<script>

					function changeQuantity(cartID, productID, count, userProductID, unitPrice) {
						let quantity = parseInt(document.getElementById(productID).innerHTML)
						let currentTotal = parseInt(document.getElementById(userProductID).innerHTML)

						count = parseInt(count)
						$.ajax({
							url: '/changeproductquantity',
							data: {
								cart: cartID,
								product: productID,
								count: count,
								quantity: quantity,
								currentTotal: currentTotal
							},
							method: 'post',
							success: (response) => {
								if (response.outOfStock) {
									Swal.fire({
										icon: 'warning',
										title: 'Out of Stock',
										text: 'You have reached the maximum available stock for this product.',
										confirmButtonColor: '#d33'
									});
									return;
								}

								if (response.empty) {
									location.reload()
								} else {
									const newQuantity = quantity + count
									document.getElementById(productID).innerHTML = newQuantity
									document.getElementById(userProductID).innerHTML = unitPrice * newQuantity
									document.getElementById('userCartTotal').innerHTML = "Rs " + response.sum
									document.getElementById('userCartTotal2').innerHTML = "Rs " + response.sum
								}
							}
						})
					}

				</script>
				<br>
				<br>
				<br>


				<%- include('../user/partials/footer.ejs') %>
</body>

</html>