<!DOCTYPE html>
<html lang="en">

<head>
  <title>checkout</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="user/images/icons/favicon.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/fonts/linearicons-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/slick/slick.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/MagnificPopup/magnific-popup.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="user/css/util.css">
  <link rel="stylesheet" type="text/css" href="user/css/main.css">
  <!--===============================================================================================-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>


<body>


  <!-- Header -->
  <header>
    <!-- Header desktop -->
    <div class="container-menu-desktop fix-menu-desktop">
      <!-- Topbar -->
      <div class="top-bar">
        <div class="content-topbar flex-sb-m h-full container">
          <div class="left-top-bar">
            exclusive deals
          </div>

          <div class="right-top-bar flex-w h-full">

          </div>
        </div>
      </div>

      <div class="wrap-menu-desktop" style="top: 40px;">
        <nav class="limiter-menu-desktop container">


          <!-- Logo desktop -->
          <a href="#" class="logo">
            <img src="user/images/icons/logo-01.png" alt="IMG-LOGO">
          </a>

          <!-- Menu desktop -->
          <div class="menu-desktop">
            <ul class="main-menu">
              <li class="active-menu">
                <a href="/home">Home</a>
              </li>

              <li>
                <a href="/shop">Shop</a>
              </li>

              <li>
                <a href="/cart">Cart</a>
              </li>

              <li>
                <a href="/order">Order</a>
              </li>

              <li>
                <a href="/about">About</a>
              </li>

              <li>
                <a href="/contact">Contact</a>
              </li>


              <li>
                <a href="/userprofile">
                  <i class="fas fa-user"></i>

                </a>
              </li>


            </ul>
          </div>

          <!-- Icon header -->
          <div class="wrap-icon-header flex-w flex-r-m">
            <ul>
              <% if (typeof isloggedin) { %>
                <li>
                  <a href="/logout" style="color: #ff0000;">Logout</a>
                </li>
                <% } else { %>
                  <li>
                    <b>
                      <a href="/login">
                        <h5 style="color:rgb(99, 101, 110);"><B>Login</B></h5>
                      </a>
                    </b>
                  </li>
            </ul>
            <% } %>
          </div>


          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">


          </div>


          <a href="/cart">
            <div class="icon-header-item cl2 p-r-11 p-l-10">
              <i class="zmdi zmdi-shopping-cart"></i>
            </div>
          </a>

          <a href="/wishlist" class="dis-block icon-header-item cl2 p-l-22 p-r-11">
            <i class="zmdi zmdi-favorite-outline"></i>
          </a>
      </div>
      </nav>
    </div>
    </div>




    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
      <!-- Logo moblie -->
      <div>
        <a href="#" class="logo">
          <img src="user/images/icons/logo-01.png" alt="IMG-LOGO">
        </a>
      </div>


      <!-- Icon header -->
      <div class="wrap-icon-header flex-w flex-r-m m-r-15">


        <a href="/cart">
          <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  ">
            <i class="zmdi zmdi-shopping-cart"></i>
          </div>
        </a>
        <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
          <i class="zmdi zmdi-favorite-outline"></i>
        </a>
      </div>




      <!-- Button show menu -->
      <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>




    <!-- Menu Mobile -->
    <div class="menu-mobile">


      <ul class="main-menu-m">
        <li>
          <a href="home">Home</a>
        </li>

        <li>
          <a href="/shop">Shop</a>
        </li>

        <li>
          <a href="/cart">Cart</a>
        </li>

        <li>
          <a href="/order">Order</a>
        </li>

        <li>
          <a href="/about">About</a>
        </li>

        <li>
          <a href="/contact">Contact</a>
        </li>


        <li>
          <a href="/userprofile">
            <i class="fas fa-user"></i>

          </a>
        </li>


      </ul>
    </div>



  </header>

  <!-- ////////// -->
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <style>
    .modal-backdrop.show {
      z-index: 1050;
    }

    .modal.show {
      z-index: 1060;
    }

    .navbar,
    .container-menu-desktop {
      z-index: 1000;
    }
  </style>

  </style>

  <!-- Add Address Modal -->
  <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
        </div>
        <div class="modal-body">
          <form action="/addAddress" class="billing-form" method="post">
            <div class="mb-3">
              <label for="address" class="form-label">Name</label>
              <input type="text" class="form-control" name="name" required>
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <div class="select-wrap">
                <div class="icon">
                  <span class="ion-ios-arrow-down"></span>
                </div>
                <select id="" class="form-control" name="country" required>
                  <option value="France">India</option>
                  <option value="India">njn</option>
                  <option value="Philippines">Portugal</option>
                </select>
              </div>
            </div>

            <div class="mb-3">
              <label for="city" class="form-label">Town/City</label>
              <input type="text" class="form-control" placeholder="" name="town" required>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
              <div class="form-group">
                <label for="streetaddress">address</label>
                <input type="text" class="form-control" name="street" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="state" class="form-label">phone</label>
              <input type="text" class="form-control" name="phone" required>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: black; color: white;">Save
              Address</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- address display -->
  <section class="ftco-section">
    <div class="container">
      <form action="" id="place-order">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <h4 class="mb-4">Select Delivery Address</h4>

            <div class="row g-3">
              <% address.forEach((value)=> { %>
                <div class="col-md-6">
                  <div class="card shadow-sm border-0">
                    <div class="card-body">
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="address"
                          value="<%= value.name %>, <%= value.street %>, <%= value.town %>, <%= value.country %>, <%= value.postcode %>, <%= value.phone %>"
                          id="address_<%= value._id %>" required>
                        <label class="form-check-label" for="address_<%= value._id %>">
                          <strong>
                            <%= value.name %>
                          </strong><br>
                          <%= value.street %>, <%= value.town %><br>
                              <%= value.country %> - <%= value.postcode %><br>
                                  Phone: <%= value.phone %>
                        </label>
                      </div>

                      <div class="d-flex justify-content-between mt-3">
                        <a href="/editaddress?id=<%= value._id %>" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="/deleteaddress?id=<%= value._id %>" class="btn btn-sm btn-outline-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>

            <div class="text-end mt-4">
              <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addAddressModal">+ Add
                Address</a>
            </div>
          </div>
        </div>

        <hr class="my-5">

        <!-- Coupon and Total Section -->
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" id="code" class="form-control" placeholder="Coupon Code" />
              <button class="btn btn-dark" type="button" onclick="applycoupan($('#code').val());">
                <i class="fas fa-tags me-2"></i>Apply
              </button>
            </div>
          </div>

          <div class="col-md-6 text-end mt-3 mt-md-0">
            <a href="/checkout" class="text-decoration-none text-danger">Remove Coupon</a>
          </div>
        </div>

        <div class="row mt-5">
          <!-- Cart Summary -->
          <div class="col-md-6">
            <div class="bg-light p-4 rounded shadow-sm">
              <h5 class="mb-4">Cart Summary</h5>
              <div class="d-flex justify-content-between mb-2">
                <span>Subtotal:</span>
                <strong>Rs <span id="total">
                    <%= total %>
                  </span></strong>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Wallet:</span>
                <strong>Rs <span id="wallet">
                    <%= wallet %>
                  </span></strong>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Delivery:</span>
                <strong>Rs 0.00</strong>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Discount:</span>
                <strong id="coupondiscount" class="text-danger">Rs 0</strong>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <span>Total:</span>
                <strong>Rs <span id="total-amount">
                    <%= total %>
                  </span></strong>
              </div>
            </div>
          </div>

          <!-- Payment Options -->
          <div class="col-md-6">
            <div class="bg-light p-4 rounded shadow-sm h-100">
              <h5 class="mb-4">Payment Method</h5>
              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" value="cod" name="payment" id="cod" required>
                <label class="form-check-label" for="cod">Cash on Delivery</label>
              </div>
              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" value="online" name="payment" id="online" required>
                <label class="form-check-label" for="online">Online Payment</label>
              </div>
              <% if (wallet !==0) { %>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" value="wallet" name="payment" id="walletPay"
                    onclick="checkWallet()">
                  <label class="form-check-label" for="walletPay">Use Wallet</label>
                </div>
                <% } %>
                  <% if (typeof message !=='undefined' ) { %>
                    <div class="text-danger mt-3">
                      <%= message %>
                    </div>
                    <% } %>
            </div>
          </div>
        </div>

        <!-- Place Order Button -->
        <div class="row mt-4">
          <div class="col text-center">
            <button type="submit" class="btn btn-dark px-5 py-2">Place Order</button>
          </div>
        </div>
      </form>
    </div>
  </section>


  <!--================End Cart Area =================-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <!-- Include Bootstrap JS library -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <script>
    function checkWallet() {
      let amount = document.getElementById("total-amount").innerHTML
      $.ajax({
        url: '/checkWallet',
        method: 'post',
        success: (response) => {
          if (response.success) {
            console.log("success");



            if (response.wallet > amount) {
              response.wallet = response - amount
              walletPlace.innerHTML = response.walleta
            }
            let test = amount - response.walleta
            // if (test < 0) {
            //   totalAmount.innerHTML = 10
            //   radioDiv.innerHTML = "You have pay minimum ₹10"
            // } else {
            //   totalAmount.innerHTML = test
            //   radioDiv.classList.add("d-none");
            // }
          } else {
            console.log("fail");
          }
        }
      })
    }
  </script>



  <script>
    function applycoupan(code) {
      let amount = document.getElementById("total").innerHTML
      console.log(amount);
      $.ajax({
        url: '/applycoupan',
        method: 'post',
        data: {
          code: code,
          amount: amount
        },
        success: (response) => {
          console.log(response);
          if (response.invalid) {
            swal("Oops!", "Coupon not found.", "error");
          } else if (response.expire) {
            swal("Oops!", "Coupon has expired.", "error");
          } else if (response.cartamount) {
            swal("Oops!", "Minimum Amount.", "error");
          } else if (response.user) {
            swal("Oops!", "Coupon used", "error");
          }
          else if (response.couponokey) {
            document.getElementById("coupondiscount").innerHTML = `${response.discountvalue}% <p style="color:green">Discount added</p>`;
            document.getElementById("total-amount").innerHTML = `${response.distotal}`
            swal("Success!", "Coupon Added.", "success");
          }


        }
      })

    }
  </script>


  <script>
    $("#place-order").submit((e) => {
      const amount = document.getElementById("total-amount").innerHTML
      const address = $("input[name=address]:checked").val()
      const paymentMethod = $("input[name=payment]:checked").val();
      const wallet = document.getElementById("wallet").innerHTML



      e.preventDefault()
      $.ajax({
        url: "/placeorder",
        method: 'post',
        data: {
          total: amount,
          address: address,
          payment: paymentMethod,
          wallet

        },
        success: (response) => {
          console.log(response.order);
          if (response.codSuccess == true) {
            location.href = "/orderplaced"
          }
          else if (response.codFailed == true) {
            swal("Oops!", "Add Address", "error");
          }
          else {
            console.log(response.order);
            razorPay(response.order)
          }
        }
      })
    })


    function razorPay(order) {
      var options = {
        "key": "rzp_test_zGl9okssXiNDIF", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "COZA", //your business name
        "description": "Test Transaction",
        // "image": "img/fav.png",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          verifyPayment(response, order)
        },
        "prefill": {
          "name": "fasalu", //your customer's name
          "email": "gaurav.kumar@example.com",
          "contact": "9000090000"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3319cc"
        }
      }

      var rzp1 = new Razorpay(options);
      rzp1.open();
    }


    function verifyPayment(payment, order) {
      $.ajax({
        url: "/verifyPayment",
        method: 'post',
        data: {
          payment,
          order
        },
        success: (response) => {
          if (response.onlineSuccess == true) {
            console.log("payment success");
            window.location.href = "/orderplaced";
          } else if (response.onlineSuccess) {
            Swal.fire({
              position: "center",
              icon: 'error',
              title: 'Payment has done',
              showConfirmButton: false,
              timer: 1500
            })
          }
        }

      })
    }
  </script>

</body>
<br>
<br>
<br>
<%- include('../user/partials/footer.ejs') %>

</html>