<!DOCTYPE html>
<html lang="en">

<head>
	<title>confirm order</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<!-- login -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<!-- signup -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- phone -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- verifyotp -->

	
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="user/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/css/util.css">
	<link rel="stylesheet" type="text/css" href="user/css/main.css">
	<!--===============================================================================================-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>


<body>


	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop fix-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						exclusive deals
					</div>

	
				</div>
			</div>

			<div class="wrap-menu-desktop" style="top: 40px;">
				<nav class="limiter-menu-desktop container">


					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="user/images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li >
								<a href="/home">Home</a>
							</li>

							<li>
								<a href="/shop">Shop</a>
							</li>

							<li>
								<a href="/cart">Cart</a>
							</li>

							<li>
								<a href="/order">Order</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>

							<% if (name) { %>
								<li>
									<a href="/userprofile">
										<i class="fas fa-user" title="User profile"></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= name %>
									</a>
								</li>
								<% } else{ %>
									<li>
										<a href="/userprofile">
											<i class="fas fa-user" title="User profile"></i>
										</a>
									</li>

									<% } %>

						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<% if (typeof isloggedin) { %>
							<li>
								<a href="/logout" style="color: #ff0000;">Logout</a>
							</li>
							<% } else { %>
								<li>
									<b>
										<a href="/login">
											<h5 style="color:rgb(99, 101, 110);"><B>Login</B></h5>
										</a>
									</b>
								</li>
								<% } %>
					</div>



					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">

					</div>


					<a href="/cart">
						<div class="icon-header-item cl2 p-r-11 p-l-10">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>
					</a>

					<a href="/wishlist" class="dis-block icon-header-item cl2 p-l-22 p-r-11">
						<i class="zmdi zmdi-favorite-outline"></i>
					</a>
			</div>
			</nav>
		</div>
		</div>




		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div>
				<a href="#" class="logo">
					<img src="user/images/icons/logo-01.png" alt="IMG-LOGO">
				</a>
			</div>



			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">


				<a href="/cart">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  ">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				</a>
				<a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>

				<% if ( isloggedin) { %>
					<div style="margin: 0 20px;">

						<li>
							<a href="/logout" style="color: #ff0000;">Logout</a>
						</li>
					</div>
					<% } else { %>

						<li>
							<div style="margin: 0 20px;">
								<a href="/login">
									<h5 style="color:rgb(99, 101, 110);"><B>Login</B></h5>
								</a>
							</div>
						</li>
						<% } %>
			</div>


			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">


			<ul class="main-menu-m">
				<li>
					<a href="home">Home</a>
				</li>

				<li>
					<a href="/shop">Shop</a>
				</li>

				<li>
					<a href="/cart">Cart</a>
				</li>

				<li>
					<a href="/order">Order</a>
				</li>

				<li>
					<a href="/about">About</a>
				</li>

				<li>
					<a href="/contact">Contact</a>
				</li>


				<% if (name) { %>
					<li>
						<a href="/userprofile">
							<i class="fas fa-user" title="User profile"></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= name %>
						</a>
					</li>
					<% } else{ %>
						<li>
							<a href="/userprofile">
								<i class="fas fa-user" title="User profile"></i>
							</a>
						</li>

						<% } %>


			</ul>
		</div>



	</header>
	<!--================Order Details Area =================-->
	<br>
	<br>

	<section class="order_details section_gap py-5">
		<div class="container" id="order">

			<!-- Order Info -->
			<div class="row mb-4">
				<div class="col-lg-6 mx-auto">
					<div class="card shadow-lg p-4">
						<h4 class="mb-3 billing-heading">🧾 Order Information</h4>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><strong>Date:</strong>
								<%= user.Date %>
							</li>
							<li class="list-group-item"><strong>Total:</strong> ₹<%= user.totalAmount %>
							</li>
							<li class="list-group-item"><strong>Payment Method:</strong>
								<%= user.paymentMethod %>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Order Products -->
			<div class="card shadow-sm p-4">
				<h4 class="mb-4 text-success">📦 Order Items</h4>
				<div class="table-responsive">
					<table class="table table-bordered align-middle text-center">
						<thead class="table-light">
							<tr>
								<th>Product</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<% user.product.forEach((product)=> { %>
								<tr>
									<td>
										<%= product.productID.productname %>
									</td>
									<td>x<%= product.quantity %>
									</td>
									<td>₹<%= product.productID.price %>
									</td>
								</tr>
								<% }) %>

									<!-- After discount -->
									<tr>
										<td><strong>After Discount</strong></td>
										<td></td>
										<td>₹<%= user.totalAmount %>
										</td>
									</tr>
									<tr>
										<td><strong>Shipping</strong></td>
										<td></td>
										<td>Free</td>
									</tr>
									<tr class="table-success">
										<td><strong>Total</strong></td>
										<td></td>
										<td><strong>₹<%= user.totalAmount %></strong></td>
									</tr>
						</tbody>
					</table>
				</div>

				<!-- Confirmation -->
				<div class="text-center mt-4">
					<h5 class="text-success">✅ Thank you. Your order has been received.</h5>
					<button onclick="downloadPDF()"
						class="mt-4 stext-101 cl0 size-104 bg3  hov-btn3 p-lr-15 trans-04 pointer">Download
						Invoice</button>
				</div>
			</div>
		</div>
	</section>

	<!--================End Order Details Area =================-->



	<script>
		function downloadPDF() {
			var details = document.getElementById("order");
			var newWin = window.open('', 'Print-Window');
			newWin.document.open();
			newWin.document.write('<html><head><style>@media print { @page { size: A4; margin: 0; } }</style></head><body onload="window.print()">' + details.outerHTML + '</html>'); newWin.document.close();
			setTimeout(function () { newWin.close(); }, 10);
		}
	</script>
	<br>
	<br>
	<br>
	<%- include('../user/partials/footer.ejs') %>