<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shop</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<!-- login -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<!-- signup -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- phone -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- verifyotp -->

	<!-- sign in link for admin bootstrap -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../assets/libs/css/style.css">
	<link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">



	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="user/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="user/css/util.css">
	<link rel="stylesheet" type="text/css" href="user/css/main.css">
	<!--===============================================================================================-->



</head>


<body>


	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop fix-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop" style="top: 40px;">
				<nav class="limiter-menu-desktop container">


					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="user/images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="/home">Home</a>
								<ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul>
							</li>

							<li>
								<a href="/shop">Shop</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="/cart">Cart</a>
							</li>

							<li>
								<a href="/order">Order</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>




						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<% if ( typeof isloggedin) { %>
							<li>
								<a href="/logout" style="color: #ff0000;">Logout</a>
							</li>
							<% } else { %>
								<li>
									<b>
										<a href="/login">
											<h5 style="color:rgb(99, 101, 110);"><B>Login</B></h5>
										</a>
									</b>
								</li>
								<% } %>
					</div>


					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
						<i class="zmdi zmdi-search"></i>

					</div>


					<a href="/cart">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti "
							data-notify="0">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>

						<a href="/wishlist"
							class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
							data-notify="0">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
			</div>
			</nav>
		</div>
		</div>
		<br>
		<br>


		<!-- //////////////////////////// -->
		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="user/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>
	<!-- Filter and Search Buttons -->
	<!-- product -->
	<div class="bg0 m-t-30 mt-5 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52" style="margin-top: 75px;">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>


				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>

					<div class="flex-w flex-c-m m-tb-10">
						<div
							class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
							<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
							<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							Search
						</div>
					</div>

					<!-- Search product -->
					<div class="dis-none panel-search w-full p-t-10 p-b-15">
						<form action="">
							<div class="bor8 dis-flex p-l-15">
								<button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
									<i class="zmdi zmdi-search"></i>
								</button>


								<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search"
									placeholder="search">
							</div>
						</form>
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<!-- Start Filter Bar -->
							<li class="p-b-6">
								<a href="/shop?sort=Low&search=<%= search %>&filter=<%= filter %>"
									class="filter-link stext-106 trans-04">
									Price: Low to High
								</a>
							</li>
							<li class="p-b-6">
								<a href="/shop?sort=High&search=<%= search %>&filter=<%= filter %>"
									class="filter-link stext-106 trans-04">
									Price: High to Low
								</a>
							</li>



							<a class="fw-title" data-toggle="collapse" data-target="#collapseThree"></a>

							<div id="collapseThree" class="collapse show" data-parent="#accordionExample">
								<div class="card-body">
									<div class="shop_sidebar_price">
										<ul>
											<li><a href="?minPrice=0&maxPrice=499&categoryId=<%= categoryId %>&sortValue=<%= sortValue %>"
													style="color: black;">under Rs 500</a></li>
											<li><a href="?minPrice=500&maxPrice=999&categoryId=<%= categoryId %>&sortValue=<%= sortValue %>"
													style="color: black;">Rs 500 - 999</a></li>
											<li><a href="?minPrice=1000&maxPrice=1999&categoryId=<%= categoryId %>&sortValue=<%= sortValue %>"
													style="color: black;">Rs 1000 - Rs 1999</a></li>
											<li><a href="?minPrice=2000&maxPrice=2499&categoryId=<%= categoryId %>&sortValue=<%= sortValue %>"
													style="color: black;">Rs 2000 - Rs 2499</a></li>
											<li><a href="?minPrice=2500&maxPrice=4999&categoryId=<%= categoryId %>&sortValue=<%= sortValue %>"
													style="color: black;">Rs 2500 - Rs 4999</a></li>
											<li><a href="?minPrice=5000&maxPrice=10000&categoryId=<%= categoryId %>&sortValue=<%= sortValue %>"
													style="color: black;">above Rs 5000</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- ................... -->
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								categories
							</div>
							<div class="shop__sidebar__search w-100">
								<form class="w-100" action="/shop">
									<input type="hidden" value="<%= filter %>" name="filter">
									<input type="hidden" value="<%= sort %>" name="sort">
									<input class="w-96" type="text" name="search" placeholder="Search...">
									<button type="submit"><span style="margin-left: 197px;"
											class="fa fa-search"></span></button>
								</form>
							</div>
							<div class="head"></div>
							<ul class="main-categories">
								<% if(data2.length> 0) { %>
									<% data2.forEach(function(data2, index) { %>
										<li class="main-nav-list"><a style="color: black;"
												href='/shop?filter=<%= data2._id %>&search=<%= search %>&sort=<%= sort %>'>
												<%= data2.name %>
											</a>
										</li>
										<% }); %>
											<% } else { %>
												<tr>
													<td>Category Not Found</td>
												</tr>
												<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- //////////////////////// -->




		<style>
			.image-container {
				display: flex;
				justify-content: center;
				/* Center the image horizontally */
				align-items: center;
				/* Center the image vertically */
				overflow: hidden;
				/* Hide any overflow to ensure uniform size */
			}

			.product-image {
				width: 100%;
				/* Set the width of the image to 100% of the container */
				height: auto;
				/* Let the height adjust proportionally based on the image aspect ratio */
				object-fit: cover;
				/* Scale the image to cover the entire container, cropping if needed */
			}
		</style>



		<br>
		<br>

		<div class="bg0 m-t-30 mt-5 p-b-140">
			<div class="container">
				<div class="row isotope-grid">

					<% user.forEach((product)=> { %>
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= product.category %>">
							<div class="block2">
								<div class="block2-pic hov-img0">
									<div class="image-container" style="height: 250px;">
										<img src="/productimages/<%= product.image[0] %>" alt="<%=product.image%>.jpg"
											class="product-image">
									</div>
									<a href="/singleproduct?id=<%= product._id %>"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1">
										VIEW
									</a>

								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l">
										<a href="product-detail.html"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%= product.productname %>
										</a>
										<span class="stext-105 cl3">
											₹<%= product.price.toFixed(2) %>
										</span>
									</div>
									<div class="block2-txt-child2 flex-r p-t-3">
										<a onclick="addwish('<%= product._id %>')"
											class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="user/images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l"
												src="user/images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
						<% }) %>


							<% if(!user){ %>
								<h3 class="cl10">Product Not Found</h3>
								<%} %>

				</div>
			</div>
		</div>
	</div>

	<nav aria-label="..." class="d-flex justify-content-center">

		<div class="pagination">
			<li class="page-item">
				<a class="page-link" href="/shop?page=<%= currentPage - 1 %>">Previous</a>
			</li>
			<% for(let i=0; i < total; i++){ %>
				<li class="page-item">
					<a class="page-link" href="/shop?page=<%= i + 1 %>&filter=<%= filter %>&search=<%= search %>">
						<%= i + 1 %>
							<span class="sr-only">(current)</span>
					</a>
				</li>
				<% } %>
					<li class="page-item">
						<a class="page-link" href="/shop?page=<%= currentPage  %>">Next</a>
					</li>
		</div>

	</nav>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		const addwish = function (id) {
			$.ajax({
				url: "/addwishlist",
				method: 'get',
				data: { 
					id,
				},
				success: function (response) {
					if (response.status) {
						Swal.fire(
							'Saved Whishlist!',
							'You clicked the button!',
							'success'
						)
					} else {
						Swal.fire("please Login to your account")
					}
				}
			})
		}
	</script>



	<%- include('../user/partials/footer.ejs') %>


</body>

</html>